.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px !important;
}
.phoneContainer {
  display: flex;
  font-size: 20px;
  gap: 5px;
}

.spanText {
  color: orange;
}

.phoneContainer:hover .spanText{
  color: white;
  cursor: pointer;
}

.icon {
  height: 40px;
  width: 50px;
  transition: 200ms;
}
.icon:hover {
scale: 1.1;
}