.bodyBackground {
  background-image: url('/bg-mirror.png');
  background-size: no-repeat;
  position: absolute;
  overflow: hidden;
  height: 645px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -50;

  /* opacity: 0.3; */
}

.track {
  bottom: 100px;
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: absolute;
  z-index: -40;
  /* opacity: 0.3; */
}

.dog {
  position: absolute;
  bottom: 0;
  left: -1500px;
  height: 72px;
  width: 145px;
  background-image: url(/dog.gif);
  animation: pet-moving 15s linear infinite;
  z-index: -30;
}

.cat {
  position: absolute;
  bottom: 40px;
  left: -1000px;
  height: 55px;
  width: 79px;
  background-image: url(/cat.gif);
  background-size: cover;
  animation: pet-moving 20s linear infinite;
  z-index: -45;
}

.mouse {
  position: absolute;
  bottom: 36px;
  left: -1000px;
  height: 55px;
  width: 79px;
  background-image: url(/mouse.gif);
  background-size: contain;
  background-repeat: no-repeat;
  animation: pet-moving 20s linear infinite;
  transform: scale(0.6) translateX(200px);
  z-index: -45;
}

@keyframes pet-moving {
  to {
    left: 100vw;
  }
}

.clouds,
.farClouds,
.nearClouds {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -60;
  /* opacity: 0.3; */
}

.clouds {
  overflow: hidden;
}

.farClouds,
.nearClouds {
  background-repeat: repeat-x;
}

.farClouds {
  background-image: url(/far-clouds.png);
  background-position-y: 166px;
  animation: far-clouds-animation 210s infinite linear;
}

.nearClouds {
  background-image: url(/near-clouds.png);
  background-position-y: 226px;
  animation: near-clouds-animation 80s infinite linear;
}

@keyframes far-clouds-animation {
  to {
    background-position: -2048px 166px;
  }
}

@keyframes near-clouds-animation {
  to {
    background-position: -1268px 226px;
  }
}
