.servicesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 60px;
}
.services {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.imgWrapper {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.imgWrapper:hover {
  transform: scale(1.2);
}

.img {
  width: 100px;
  height: 100px;
}
.iconText {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.servHeader {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.servHeaderWrapper {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servContentWrapper {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servContent {
  font-size: 16px;
  color: gray;
  text-align: center;
}

.servHeader2 {
  font-size: 48px;
  margin: 20px;
  text-align: center;
}

.servHeader3 {
  font-size: 22px;
  margin-bottom: 40px;
}

/* .mainBackground {
  background-image: url('/background-filler-v2.png');
  position: absolute;
  height: 9999vh;
  overflow: hidden;
  width: 100%;
  z-index: -50;
} */

.homePageShader {
  border-top: 3px solid black;
  height: 30px;
  background: linear-gradient(180deg #121212, transparent 10px);
  background: linear-gradient(180deg, #121212, transparent, transparent 30px);
}

.homeStepsCardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.stepParagraphWrapper {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgForm {
  height: 50vh;
  width: 100%;
  border-radius: 20px;
  transition: 300ms;
  object-fit: contain;
}

.imgForm:hover {
  transform: scale(1.3);
}
.imgIcon {
  width: 50px;
  height: 50px;
}
.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonUp {
  position: fixed;
  bottom: 80px;
  right: 15px;
  cursor: pointer;
  background-color: black;
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  border: 3px solid orange;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
