.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

header,
footer {
  height: 65px;
  width: 100%;
  background: #121212;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 20px !important;
}
