.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

header,
footer {
  height: 65px;
  width: 100%;
  background: #121212;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 20px !important;
}
.logo {
  height: 60px;
  width: 60px;
  transition: 200ms;
}

.logoAvatar {
  height: 53px;
  width: 53px;
  border-radius: 100%;
  border: 1px solid orange;
}

.logoContainer {
  display: flex;
align-items: center;
text-decoration: none;
font-family: "Bebas Neue", sans-serif;
font-size: 30px;
}
.logoTitle {
  color: orange;
  transition: 200ms;
}
.logoContainer:hover .logoTitle {
  filter:sepia(100%)
}
.logoContainer:hover .logo {
  filter:sepia(100%)
}

