.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  height: 100%;
}
.iconCat {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.iconDog {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  
}
.iconText {
  display: flex;
  align-items: center;
  color: orange;
  transition: 150ms;
 
}

.link {
  color: orange;
  transition: 150ms;
}

.link:hover {
scale: 1.1;
}