.orderInfo {
  width: 100%;
  color: orange;
  margin-bottom: 20px;
}

.orderInfoInnerWrapper {
  display: flex;
  width: 100%;
  gap: 10px;
}

.petImage {
  height: 200px;
  width: 200px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
}

.clientPetImage {
  height: 90px;
  width: 90px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
}

.clientOrderInfoWrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-bottom: 10px;
  margin-left: 20px;
}

.clientAddServices {
  padding-top: 10px;
  margin-left: 20px;
}

.petImg {
  object-fit: cover;
  border-radius: 20px;
}

.clientOrderAbout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.orderAboutHeader {
  text-align: center;
  width: 100%;
  color: orange;
}

.addServices {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
