.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.menu a {
  text-decoration: none;
}

.linkWrapper {
  color: orange;
  text-decoration: none;
  transition: 0.3s;
}

.linkWrapper:hover {
  transform: scale(1.1);
}
