.roomsPageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.rooms {
  border: 2px solid gray;
  border-radius: 10px;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.roomUpperRow {
  display: flex;
}

.roomBottomRow {
  display: flex;
  justify-content: end;
}

.roomUpperRow button,
.roomBottomRow button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.roomUpperRow button {
  width: 100px;
  height: 80px;
}

.roomBottomRow button {
  width: 120px;
  height: 120px;
}
