
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.petContainer, .orderContainer {
  /* padding: 30px; */
  /* border: 5px solid orange; */
  border-radius: 15px;
  width: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  align-items: center;
  /* margin-bottom: 50px; */
}
.contentContainer {
  width: 50%;
}
.title {
  color: orange;
  width: 100%;
  text-align: start;
}

.petContainer::-webkit-scrollbar {
  background-color: #121212;
  border-radius: 4px;
  height: 10px;
}

.petContainer::-webkit-scrollbar-track {
  border-radius: 10px;
}

.petContainer::-webkit-scrollbar-thumb {
  background: #f6ae2d;
  border-radius: 4px;
  border: 1px solid #121212;
}

.petContainer::-webkit-scrollbar-thumb:hover {
  background: #ffc862;
}