
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.petContainer, .orderContainer {
  /* padding: 30px; */
  /* border: 5px solid orange; */
  border-radius: 15px;
  width: 100%;
  display: flex;
  overflow: auto;
  align-items: center;
  /* margin-bottom: 50px; */
}
.contentContainer {
  width: 50%;
}
.title {
  color: orange;
  width: 100%;
  text-align: start;
}